<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hairstyle.weshow.dao.CameraDeviceInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hairstyle.weshow.domain.CameraDeviceInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="seat_no" property="seatNo" jdbcType="INTEGER" />
    <result column="device_no" property="deviceNo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, store_id, seat_no, device_no, status, ip, created_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from weshow_camera_device
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from weshow_camera_device
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hairstyle.weshow.domain.CameraDeviceInfo" >
    insert into weshow_camera_device (id, store_id, seat_no, 
      device_no, status, ip, 
      created_time)
    values (#{id,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{seatNo,jdbcType=INTEGER}, 
      #{deviceNo,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hairstyle.weshow.domain.CameraDeviceInfo" >
    insert into weshow_camera_device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="seatNo != null" >
        seat_no,
      </if>
      <if test="deviceNo != null" >
        device_no,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="seatNo != null" >
        #{seatNo,jdbcType=INTEGER},
      </if>
      <if test="deviceNo != null" >
        #{deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hairstyle.weshow.domain.CameraDeviceInfo" >
    update weshow_camera_device
    <set >
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="seatNo != null" >
        seat_no = #{seatNo,jdbcType=INTEGER},
      </if>
      <if test="deviceNo != null" >
        device_no = #{deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hairstyle.weshow.domain.CameraDeviceInfo" >
    update weshow_camera_device
    set store_id = #{storeId,jdbcType=INTEGER},
      seat_no = #{seatNo,jdbcType=INTEGER},
      device_no = #{deviceNo,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>